
<h1>Nouvel utilisateur</h1>

<form action="/users">
  Username :<br>
  <input type="text" name="name"><br>
  Email :<br>
  <input type="text" name="lastname"><br><br>
  Bio :<br>
  <input type="text" name="lastname" value="Write a short description of yourself here"><br><br>
  <input type="submit" value="Submit">
</form>
